@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply max-w-full overflow-x-hidden;
}

nav a {
  @apply inline-block;
}

.collapse.nav-collapse {
  @apply hidden;
}

.collapse.show.nav-collapse {
  @apply block sm:hidden;
}

.collapse {
  @apply hidden;
}

.collapse.show {
  @apply block;
}
.bggreen {
  @apply bg-green-300;
}
.bgred {
  @apply bg-red-300;
}
.nav-link:not(.mobile-nav) {
  @apply px-3 py-2 rounded-md text-sm font-medium;
}

.nav-link.mobile-nav {
  @apply block px-3 py-2 rounded-md text-base font-medium;
}

.inactive {
  @apply dark:text-gray-300 text-gray-600 hover:bg-gray-900 hover:text-white;
}

.active:not(.sticky-outer-wrapper) {
  @apply bg-gray-700 text-white;
}

.nav-toggler {
  &:not(.collapsed) {
    svg:nth-child(2) {
      @apply hidden;
    }
    svg:nth-child(3) {
      @apply block;
    }
  }
  &.collapsed {
    svg:nth-child(2) {
      @apply block;
    }
    svg:nth-child(3) {
      @apply hidden;
    }
  }
}
